.profile {
  text-align: center;
  background: #ffffff;
  width: 220px;
  height: 250px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  padding-top: 15px;
}
.name {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  margin: 0;
  margin-top: 15px;
}
.tag {
  font-size: 13px;
  font-weight: normal;
  color: #b9c1c8;
  margin: 3;
}
.location {
  font-size: 13px;
  font-weight: normal;
  color: #b9c1c8;
  margin: 3;
}
.avatar {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: auto;
  border-radius: 100px;
}

.stats {
  display: flex;
  background: #f3f6f9;
  width: 100%;
  margin: 0;
}

.item {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: calc(100% / 3);
  height: 50px;
  padding: 10px;
  border: 1px solid #eaeef3;
}
.label {
  font-size: 10px;
  font-weight: normal;
  color: #b9c1c8;
}
.quantity {
  font-size: 10px;
  font-weight: bold;
  color: #000000;
}
